<header><h1>Заметка от автора</h1></header>
<h3></h3>
<h2>"Когда занимаетесь любимым делом, вы делаете подарок не только себе, но и миру"</h2>
<h3></h3>
<section class="my-page">
    <div class="horizontal-img-box">
            <div class="vertical-img-box">
                    <!--<div class="image" data-position="25% 25%">-->
                    <p><img src="images/58.jpg" alt="" class = "img"/></p>
                    <!--</div>-->
                   <!--<div class="image" data-position="25% 25%">-->
                    <p><img src="images/54.jpg" alt="" class = "img"/></p>
                    <!--</div>-->
                </div>
        <div class="vertical-img-box">
            <!--<div class="image" data-position="25% 25%">-->
            <p><img src="images/51.jpg" alt="" class = "img"/></p>
            <!--</div>-->
            <!--<div class="image" data-position="25% 25%">-->
            <p><img src="images/55.jpg" alt="" class = "img"/></p>
            <!--</div>-->
        </div>
    </div>
</section>
