.image {
    display: inline-block;
    position: relative;
    border: 0;
    text-align: center;
    width:50%;
}
.img_horizontal{
    width:50%;
    height: 30%;
}
.img_vertival{
    height:50%;
    width: 30%;
}
.image[data-position="25% 25%"] img {
    -moz-object-position: 25% 25%;
    -webkit-object-position: 25% 25%;
    -ms-object-position: 25% 25%;
    object-position: 25% 25%;
}
.horizontal-img-box{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}

.vertical-img-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

h2{
    text-align: center;
}
p{
    text-align: center;
}
.img{
    width: 90%;
    height: 90%;
}
@media screen and (max-width: 640px){
    .horizontal-img-box{
        flex-direction: column;
    }
}

