/* меню */
.nav {
    margin: 0 0;
    width:100%;
    position: relative;
    background: #4a76a8;
    border-bottom: 2px solid #4872a3;
}
.nav ul {
	margin: 0 auto;
    padding: 0;
    text-align: center;
}
.nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
    display: inline;
    text-decoration: none;
}
.button_nav:active{
    color:rgb(129, 177, 192);
}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: rgb(255, 255, 255);
    line-height: 30px;
    text-shadow: 1xp 1px 0px #040404;
    display:inline-block;
}
.nav a:hover, nav a:active {
  background-color: #2a5885;
}

@media screen and (max-width: 640px){
   
    .nav {
        height: auto;
        width:100%;
    }	
    /*.nav_im ,nav ul:before{
        content: "\f0c9";
        font-family: FontAwesome;
        color: #aa6f83;
        font-size: 30;
        text-align: left;
    }*/
    .nav_im{
        display:block;
        background-color: #4a76a8;
        width: 100%;
        position: relative;
    }
    
    .nav_im:before{
        content: "\f0c9";
        font-family: FontAwesome;
        color: #ffffff;
        font-size: 50;
        text-align: left;
        margin:2% 2%;
    }
	.nav ul {
        height: auto;
        
    }
    
	.nav li {
		display: none; /* скрыть все <li> пункты */
        margin: 0;
        content: none;
	}
	.nav .current {
		display: block; /* показывать только текущие активные <li> пункты */
	}
	.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.nav .current a {
        background: none;
        background-color: white; 
		color: #666;
	}
 
	/* при наведении на пункты меню */
	/*.nav ul:hover {
		/*background-image: none;*/
	/*}*/
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	/*.nav ul:hover .current {
		background: url(images/icon-check.png) no-repeat 20px 7px;
	}*/
}

