body{
    background-color: #f5f5f7;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin:0 0;
}

section, header{
    margin: 0 auto;
    /*width: 600px;*/
    width: 100%;
}

header h1{
    text-align: center;
}

#regexp,#replace_str{ /*поле для ввода регулярного выражения*/
    width: 80%;
    margin: 0 10%;
    height: 50px;/*50%;*/
    border: 2px solid #C6C6C6;
    border-radius: 3px;
    resize: none;
    overflow:hidden;
    font-size: 20px
}
.addButton,.addButton:before{
    margin: 0 30%;
    width: 40%;
    height: 44px;
    line-height: 44px;
    background-color: #4a76a8;
    font-size: 20px;
    opacity: 1;
    transition: .6s, opacity 0s 9999999s, visibility 0s 9999999s;
}

.button{
    /*margin:1%;*/
    box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    color:white;
}

.addButton:hover { 
    background-color: #2a5885;
}
.addButton:active {
    background-color: #4a76a8;
}

input{
    /*height: 40px;*/
    margin:1%;
    height: 40px;
    width: 50%;
    /*margin: 0 5%;*/
    text-align: center;
    display: inline-block;
    border-radius: 3px;  
    font-size: 17px;  
}
.answer{
    
    width: 13%;
    display: inline-block;
    padding: .8em 1em calc(.8em);
    transition: 0.2s;
    margin: 1%;
    margin-right: 0;
    /*margin-left: 1%;*/
}

/*div{
    margin: 1%;
}*/
/*#block-cases{
    width:100%;
}*/
.my-case-block{
    /*width: 100%;*/
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: center
}


input:hover, textarea:hover{
    border-color: #88b5df;
}

input:focus, textarea:focus{
    border-color: #87A4DE;
}

.matched{    
    background-color: #4a77a8;
    color: white; 
}
.no-matched{
    background-color: rgb(184, 30, 30);
    color: white; 
}

.btn_remove{
    margin:1%;
    font-weight: 400;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    background: rgb(184, 30, 30);
    transition: 0.2s;
    display: inline-block;
    width: 15%;
    padding: .8em 1em calc(.8em);
    text-align: center;  
    /*content: "\f00d";
    font-family: FontAwesome;*/
    
} 
.btn_remove:hover { background: rgb(150, 30, 30); }

.btn_remove:active {
    background: rgb(184, 30, 30);
}

.addClass{ /*плавное появление*/
    animation: appearance 2s;
}
.removeClass{ /*плавное удаление*/
    animation: removed 2s;
}

@keyframes appearance{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes removed{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
}
@media screen and (max-width: 640px){
    input{
        height: 30px;
        width: 51%;
    }
    .answer{
        width: 17%;
        font-size: 80%;
    }
    
    .btn_remove {
        text-align: center;
        padding: .7em 1em calc(.7em + 3px);
        font-size: 80%;
        width: 11%;          
    } 
}

@media screen and (max-width: 400px){
    input{
        height: 30px;
        width: 45%;
    }
    .answer{
        width: 20%;
        font-size: 70%;
    }
    
    .btn_remove {
        text-align: center;
        padding: .7em 1em calc(.7em + 3px);
        font-size: 70%;
        width: 13%;          
    } 
}
